In [1]:
import numpy as np
import pandas as pd

In [ ]:
#ch3

In [25]:
df = pd.read_excel('program.xlsx',index_col = '지원번호')
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
6번    이광수   런닝맨고  190   80  100   95  85  80           C
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
9번    강호동  신서유기고  182   75   55   30  45  60         C++
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
12번   송민호  신서유기고  180   80   30   25  10  85        Java
13번    규현  신서유기고  170  100   80  100  85  70      Python
14번    피오  신서유기고  179   35   45   60  50  35           C

In [12]:
df.fillna('없음')
#df.fillna('없음',inplace = True)
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
6번    이광수   런닝맨고  190   80  100   95  85  80           C
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
9번    강호동  신서유기고  182   75   55   30  45  60         C++
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
12번   송민호  신서유기고  180   80   30   25  10  85        Java
13번    규현  신서유기고  170  100   80  100  85  70      Python
14번    피오  신서유기고  179   35   45   60  50  35           C

In [20]:
df['이름'] = np.nan
df

      이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번   NaN   런닝맨고  178   90   85  100  95  85      Python
2번   NaN   런닝맨고  178   40   35   50  55  25        Java
3번   NaN   런닝맨고  178   80   75   70  80  75  Javascript
4번   NaN   런닝맨고  168   40   60   70  75  80         NaN
5번   NaN   런닝맨고  171   15   20   10  35  10         NaN
6번   NaN   런닝맨고  190   80  100   95  85  80           C
7번   NaN   런닝맨고  172   55   65   45  40  35      PYTHON
8번   NaN   런닝맨고  170  100   85   90  95  95          C#
9번   NaN  신서유기고  182   75   55   30  45  60         C++
10번  NaN  신서유기고  165   70   80   70  85  80         NaN
11번  NaN  신서유기고  174   95   75   65  45  50         NaN
12번  NaN  신서유기고  180   80   30   25  10  85        Java
13번  NaN  신서유기고  170  100   80  100  85  70      Python
14번  NaN  신서유기고  179   35   45   60  50  35           C

In [16]:
df.fillna('모름')

      이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    모름   런닝맨고  178   90   85  100  95  85      Python
2번    모름   런닝맨고  178   40   35   50  55  25        Java
3번    모름   런닝맨고  178   80   75   70  80  75  Javascript
4번    모름   런닝맨고  168   40   60   70  75  80          모름
5번    모름   런닝맨고  171   15   20   10  35  10          모름
6번    모름   런닝맨고  190   80  100   95  85  80           C
7번    모름   런닝맨고  172   55   65   45  40  35      PYTHON
8번    모름   런닝맨고  170  100   85   90  95  95          C#
9번    모름  신서유기고  182   75   55   30  45  60         C++
10번   모름  신서유기고  165   70   80   70  85  80          모름
11번   모름  신서유기고  174   95   75   65  45  50          모름
12번   모름  신서유기고  180   80   30   25  10  85        Java
13번   모름  신서유기고  170  100   80  100  85  70      Python
14번   모름  신서유기고  179   35   45   60  50  35           C

In [18]:
#특정한 콜룸에 대해 데이터 수정
df['SW특기'].fillna('없음',inplace = True)
df

      이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번   NaN   런닝맨고  178   90   85  100  95  85      Python
2번   NaN   런닝맨고  178   40   35   50  55  25        Java
3번   NaN   런닝맨고  178   80   75   70  80  75  Javascript
4번   NaN   런닝맨고  168   40   60   70  75  80          없음
5번   NaN   런닝맨고  171   15   20   10  35  10          없음
6번   NaN   런닝맨고  190   80  100   95  85  80           C
7번   NaN   런닝맨고  172   55   65   45  40  35      PYTHON
8번   NaN   런닝맨고  170  100   85   90  95  95          C#
9번   NaN  신서유기고  182   75   55   30  45  60         C++
10번  NaN  신서유기고  165   70   80   70  85  80          없음
11번  NaN  신서유기고  174   95   75   65  45  50          없음
12번  NaN  신서유기고  180   80   30   25  10  85        Java
13번  NaN  신서유기고  170  100   80  100  85  70      Python
14번  NaN  신서유기고  179   35   45   60  50  35           C

In [24]:
df.loc['4번']=df.loc['4번'].fillna('모름') #inplace없이 바로 데이터가 변경됨
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    NaN   런닝맨고  178   90   85  100  95  85      Python
2번    NaN   런닝맨고  178   40   35   50  55  25        Java
3번    NaN   런닝맨고  178   80   75   70  80  75  Javascript
4번     모름   런닝맨고  168   40   60   70  75  80          모름
5번    NaN   런닝맨고  171   15   20   10  35  10         NaN
6번    NaN   런닝맨고  190   80  100   95  85  80           C
7번    NaN   런닝맨고  172   55   65   45  40  35      PYTHON
8번    NaN   런닝맨고  170  100   85   90  95  95          C#
9번    NaN  신서유기고  182   75   55   30  45  60         C++
10번   NaN  신서유기고  165   70   80   70  85  80         NaN
11번   NaN  신서유기고  174   95   75   65  45  50         NaN
12번   NaN  신서유기고  180   80   30   25  10  85        Java
13번   NaN  신서유기고  170  100   80  100  85  70      Python
14번   NaN  신서유기고  179   35   45   60  50  35           C

In [26]:
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
6번    이광수   런닝맨고  190   80  100   95  85  80           C
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
9번    강호동  신서유기고  182   75   55   30  45  60         C++
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
12번   송민호  신서유기고  180   80   30   25  10  85        Java
13번    규현  신서유기고  170  100   80  100  85  70      Python
14번    피오  신서유기고  179   35   45   60  50  35           C

In [ ]:
#Nan을 가진 row 또는 column의 삭제

In [27]:
df.dropna() #row 삭제, 실제 데이터 반영 하려면 inplace 넣어야 함

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
6번    이광수   런닝맨고  190   80  100   95  85  80           C
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
9번    강호동  신서유기고  182   75   55   30  45  60         C++
12번   송민호  신서유기고  180   80   30   25  10  85        Java
13번    규현  신서유기고  170  100   80  100  85  70      Python
14번    피오  신서유기고  179   35   45   60  50  35           C

In [29]:
df.dropna(axis = 'index')

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
6번    이광수   런닝맨고  190   80  100   95  85  80           C
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
9번    강호동  신서유기고  182   75   55   30  45  60         C++
12번   송민호  신서유기고  180   80   30   25  10  85        Java
13번    규현  신서유기고  170  100   80  100  85  70      Python
14번    피오  신서유기고  179   35   45   60  50  35           C

In [30]:
df.dropna(axis = 'columns')

       이름     학교    키   국어   영어   수학  과학  사회
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85
2번    지석진   런닝맨고  178   40   35   50  55  25
3번    김종국   런닝맨고  178   80   75   70  80  75
4번    송지효   런닝맨고  168   40   60   70  75  80
5번     하하   런닝맨고  171   15   20   10  35  10
6번    이광수   런닝맨고  190   80  100   95  85  80
7번    양세찬   런닝맨고  172   55   65   45  40  35
8번    전소민   런닝맨고  170  100   85   90  95  95
9번    강호동  신서유기고  182   75   55   30  45  60
10번   이수근  신서유기고  165   70   80   70  85  80
11번   은지원  신서유기고  174   95   75   65  45  50
12번   송민호  신서유기고  180   80   30   25  10  85
13번    규현  신서유기고  170  100   80  100  85  70
14번    피오  신서유기고  179   35   45   60  50  35

In [31]:
#how: 어떤 데이터에 대하여- Nan이 하나라도 있으면(any:default 값) 혹은 모두 Nan이라면(all)
df.dropna(axis = 'columns',how = 'all')

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
6번    이광수   런닝맨고  190   80  100   95  85  80           C
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
9번    강호동  신서유기고  182   75   55   30  45  60         C++
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
12번   송민호  신서유기고  180   80   30   25  10  85        Java
13번    규현  신서유기고  170  100   80  100  85  70      Python
14번    피오  신서유기고  179   35   45   60  50  35           C

In [33]:
df.loc['5번'] = np.nan
df

       이름     학교      키     국어     영어     수학    과학    사회        SW특기
지원번호
1번    유재석   런닝맨고  178.0   90.0   85.0  100.0  95.0  85.0      Python
2번    지석진   런닝맨고  178.0   40.0   35.0   50.0  55.0  25.0        Java
3번    김종국   런닝맨고  178.0   80.0   75.0   70.0  80.0  75.0  Javascript
4번    송지효   런닝맨고  168.0   40.0   60.0   70.0  75.0  80.0         NaN
5번    NaN    NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN
6번    이광수   런닝맨고  190.0   80.0  100.0   95.0  85.0  80.0           C
7번    양세찬   런닝맨고  172.0   55.0   65.0   45.0  40.0  35.0      PYTHON
8번    전소민   런닝맨고  170.0  100.0   85.0   90.0  95.0  95.0          C#
9번    강호동  신서유기고  182.0   75.0   55.0   30.0  45.0  60.0         C++
10번   이수근  신서유기고  165.0   70.0   80.0   70.0  85.0  80.0         NaN
11번   은지원  신서유기고  174.0   95.0   75.0   65.0  45.0  50.0         NaN
12번   송민호  신서유기고  180.0   80.0   30.0   25.0  10.0  85.0        Java
13번    규현  신서유기고  170.0  100.0   80.0  100.0  85.0  70.0      Python
14번    피오  신서유기고  179.0   35.0   45.0   60.0  50.0  35.0           C

In [35]:
df.dropna(axis = 'index',how = 'all')

       이름     학교      키     국어     영어     수학    과학    사회        SW특기
지원번호
1번    유재석   런닝맨고  178.0   90.0   85.0  100.0  95.0  85.0      Python
2번    지석진   런닝맨고  178.0   40.0   35.0   50.0  55.0  25.0        Java
3번    김종국   런닝맨고  178.0   80.0   75.0   70.0  80.0  75.0  Javascript
4번    송지효   런닝맨고  168.0   40.0   60.0   70.0  75.0  80.0         NaN
6번    이광수   런닝맨고  190.0   80.0  100.0   95.0  85.0  80.0           C
7번    양세찬   런닝맨고  172.0   55.0   65.0   45.0  40.0  35.0      PYTHON
8번    전소민   런닝맨고  170.0  100.0   85.0   90.0  95.0  95.0          C#
9번    강호동  신서유기고  182.0   75.0   55.0   30.0  45.0  60.0         C++
10번   이수근  신서유기고  165.0   70.0   80.0   70.0  85.0  80.0         NaN
11번   은지원  신서유기고  174.0   95.0   75.0   65.0  45.0  50.0         NaN
12번   송민호  신서유기고  180.0   80.0   30.0   25.0  10.0  85.0        Java
13번    규현  신서유기고  170.0  100.0   80.0  100.0  85.0  70.0      Python
14번    피오  신서유기고  179.0   35.0   45.0   60.0  50.0  35.0           C

In [36]:
df = pd.read_excel('program.xlsx',index_col = '지원번호')
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
6번    이광수   런닝맨고  190   80  100   95  85  80           C
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
9번    강호동  신서유기고  182   75   55   30  45  60         C++
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
12번   송민호  신서유기고  180   80   30   25  10  85        Java
13번    규현  신서유기고  170  100   80  100  85  70      Python
14번    피오  신서유기고  179   35   45   60  50  35           C

In [ ]:
#데이터 정렬

In [38]:
df.sort_index(ascending = False)

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
9번    강호동  신서유기고  182   75   55   30  45  60         C++
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
6번    이광수   런닝맨고  190   80  100   95  85  80           C
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
14번    피오  신서유기고  179   35   45   60  50  35           C
13번    규현  신서유기고  170  100   80  100  85  70      Python
12번   송민호  신서유기고  180   80   30   25  10  85        Java
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
10번   이수근  신서유기고  165   70   80   70  85  80         NaN

In [ ]:
#특정 콜룸값을 기준으로 오름차순 또는 내림차순으로

In [39]:
df.sort_values('이름')

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
9번    강호동  신서유기고  182   75   55   30  45  60         C++
13번    규현  신서유기고  170  100   80  100  85  70      Python
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
12번   송민호  신서유기고  180   80   30   25  10  85        Java
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
6번    이광수   런닝맨고  190   80  100   95  85  80           C
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
14번    피오  신서유기고  179   35   45   60  50  35           C
5번     하하   런닝맨고  171   15   20   10  35  10         NaN

In [40]:
df.sort_values(['키','수학']) #키 먼저 오름차순으로 두고 다음에 수학 기준 오름차순으로

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
13번    규현  신서유기고  170  100   80  100  85  70      Python
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
14번    피오  신서유기고  179   35   45   60  50  35           C
12번   송민호  신서유기고  180   80   30   25  10  85        Java
9번    강호동  신서유기고  182   75   55   30  45  60         C++
6번    이광수   런닝맨고  190   80  100   95  85  80           C

In [41]:
df.sort_values(['키','수학'],ascending=[False, True]) 키는 내림차순으로 수학은 오름차순으로

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
6번    이광수   런닝맨고  190   80  100   95  85  80           C
9번    강호동  신서유기고  182   75   55   30  45  60         C++
12번   송민호  신서유기고  180   80   30   25  10  85        Java
14번    피오  신서유기고  179   35   45   60  50  35           C
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
13번    규현  신서유기고  170  100   80  100  85  70      Python
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
10번   이수근  신서유기고  165   70   80   70  85  80         NaN

In [42]:
df['키'].sort_values()

지원번호
10번    165
4번     168
8번     170
13번    170
5번     171
7번     172
11번    174
1번     178
2번     178
3번     178
14번    179
12번    180
9번     182
6번     190
Name: 키, dtype: int64

In [ ]:
#특정조건의 데이터만 바꾸고 싶을 때

In [43]:
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      Python
2번    지석진   런닝맨고  178   40   35   50  55  25        Java
3번    김종국   런닝맨고  178   80   75   70  80  75  Javascript
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
6번    이광수   런닝맨고  190   80  100   95  85  80           C
7번    양세찬   런닝맨고  172   55   65   45  40  35      PYTHON
8번    전소민   런닝맨고  170  100   85   90  95  95          C#
9번    강호동  신서유기고  182   75   55   30  45  60         C++
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
12번   송민호  신서유기고  180   80   30   25  10  85        Java
13번    규현  신서유기고  170  100   80  100  85  70      Python
14번    피오  신서유기고  179   35   45   60  50  35           C

In [44]:
df['학교'].replace({'런닝맨고':'무한도전고'}) #런닝맨고를 무한도전고로 바꾼다. 실제로 바꾸고 싶으면 inplace

지원번호
1번     무한도전고
2번     무한도전고
3번     무한도전고
4번     무한도전고
5번     무한도전고
6번     무한도전고
7번     무한도전고
8번     무한도전고
9번     신서유기고
10번    신서유기고
11번    신서유기고
12번    신서유기고
13번    신서유기고
14번    신서유기고
Name: 학교, dtype: object

In [46]:
#한번에 여러개의 데이터로 바꾸기
df['학교'].replace({'런닝맨고':'무한도전고','신서유기고':'신서유기2고'})

지원번호
1번      무한도전고
2번      무한도전고
3번      무한도전고
4번      무한도전고
5번      무한도전고
6번      무한도전고
7번      무한도전고
8번      무한도전고
9번     신서유기2고
10번    신서유기2고
11번    신서유기2고
12번    신서유기2고
13번    신서유기2고
14번    신서유기2고
Name: 학교, dtype: object

In [49]:
df['SW특기']=df['SW특기'].str.lower() #전부다 소문자로 바꿈. inplace가 없으므로 할당연산자로 전부 할당해야함
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      python
2번    지석진   런닝맨고  178   40   35   50  55  25        java
3번    김종국   런닝맨고  178   80   75   70  80  75  javascript
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN
5번     하하   런닝맨고  171   15   20   10  35  10         NaN
6번    이광수   런닝맨고  190   80  100   95  85  80           c
7번    양세찬   런닝맨고  172   55   65   45  40  35      python
8번    전소민   런닝맨고  170  100   85   90  95  95          c#
9번    강호동  신서유기고  182   75   55   30  45  60         c++
10번   이수근  신서유기고  165   70   80   70  85  80         NaN
11번   은지원  신서유기고  174   95   75   65  45  50         NaN
12번   송민호  신서유기고  180   80   30   25  10  85        java
13번    규현  신서유기고  170  100   80  100  85  70      python
14번    피오  신서유기고  179   35   45   60  50  35           c

In [51]:
#새로운 콜룸의 추가 
df['총합'] = df['국어'] + df['영어'] + df['수학']+ df['과학'] + df['사회']
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      python  455
2번    지석진   런닝맨고  178   40   35   50  55  25        java  205
3번    김종국   런닝맨고  178   80   75   70  80  75  javascript  380
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN  325
5번     하하   런닝맨고  171   15   20   10  35  10         NaN   90
6번    이광수   런닝맨고  190   80  100   95  85  80           c  440
7번    양세찬   런닝맨고  172   55   65   45  40  35      python  240
8번    전소민   런닝맨고  170  100   85   90  95  95          c#  465
9번    강호동  신서유기고  182   75   55   30  45  60         c++  265
10번   이수근  신서유기고  165   70   80   70  85  80         NaN  385
11번   은지원  신서유기고  174   95   75   65  45  50         NaN  330
12번   송민호  신서유기고  180   80   30   25  10  85        java  230
13번    규현  신서유기고  170  100   80  100  85  70      python  435
14번    피오  신서유기고  179   35   45   60  50  35           c  225

In [53]:
df['결과'] = 'Fail'
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      python  455  Fail
2번    지석진   런닝맨고  178   40   35   50  55  25        java  205  Fail
3번    김종국   런닝맨고  178   80   75   70  80  75  javascript  380  Fail
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN  325  Fail
5번     하하   런닝맨고  171   15   20   10  35  10         NaN   90  Fail
6번    이광수   런닝맨고  190   80  100   95  85  80           c  440  Fail
7번    양세찬   런닝맨고  172   55   65   45  40  35      python  240  Fail
8번    전소민   런닝맨고  170  100   85   90  95  95          c#  465  Fail
9번    강호동  신서유기고  182   75   55   30  45  60         c++  265  Fail
10번   이수근  신서유기고  165   70   80   70  85  80         NaN  385  Fail
11번   은지원  신서유기고  174   95   75   65  45  50         NaN  330  Fail
12번   송민호  신서유기고  180   80   30   25  10  85        java  230  Fail
13번    규현  신서유기고  170  100   80  100  85  70      python  435  Fail
14번    피오  신서유기고  179   35   45   60  50  35           c  225  Fail

In [54]:
df['총합']>400

지원번호
1번      True
2번     False
3번     False
4번     False
5번     False
6번      True
7번     False
8번      True
9번     False
10번    False
11번    False
12번    False
13번     True
14번    False
Name: 총합, dtype: bool

In [56]:
df.loc[df['총합']>400,'결과'] = 'Pass'
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      python  455  Pass
2번    지석진   런닝맨고  178   40   35   50  55  25        java  205  Fail
3번    김종국   런닝맨고  178   80   75   70  80  75  javascript  380  Fail
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN  325  Fail
5번     하하   런닝맨고  171   15   20   10  35  10         NaN   90  Fail
6번    이광수   런닝맨고  190   80  100   95  85  80           c  440  Pass
7번    양세찬   런닝맨고  172   55   65   45  40  35      python  240  Fail
8번    전소민   런닝맨고  170  100   85   90  95  95          c#  465  Pass
9번    강호동  신서유기고  182   75   55   30  45  60         c++  265  Fail
10번   이수근  신서유기고  165   70   80   70  85  80         NaN  385  Fail
11번   은지원  신서유기고  174   95   75   65  45  50         NaN  330  Fail
12번   송민호  신서유기고  180   80   30   25  10  85        java  230  Fail
13번    규현  신서유기고  170  100   80  100  85  70      python  435  Pass
14번    피오  신서유기고  179   35   45   60  50  35           c  225  Fail

In [58]:
#column의 삭제
df.drop(columns = ['총합'])

       이름     학교    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      python  Pass
2번    지석진   런닝맨고  178   40   35   50  55  25        java  Fail
3번    김종국   런닝맨고  178   80   75   70  80  75  javascript  Fail
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN  Fail
5번     하하   런닝맨고  171   15   20   10  35  10         NaN  Fail
6번    이광수   런닝맨고  190   80  100   95  85  80           c  Pass
7번    양세찬   런닝맨고  172   55   65   45  40  35      python  Fail
8번    전소민   런닝맨고  170  100   85   90  95  95          c#  Pass
9번    강호동  신서유기고  182   75   55   30  45  60         c++  Fail
10번   이수근  신서유기고  165   70   80   70  85  80         NaN  Fail
11번   은지원  신서유기고  174   95   75   65  45  50         NaN  Fail
12번   송민호  신서유기고  180   80   30   25  10  85        java  Fail
13번    규현  신서유기고  170  100   80  100  85  70      python  Pass
14번    피오  신서유기고  179   35   45   60  50  35           c  Fail

In [60]:
#row의 삭제 :index
df.drop(index = ['3번','7번'])

       이름     학교    키   국어   영어   수학  과학  사회    SW특기   총합    결과
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85  python  455  Pass
2번    지석진   런닝맨고  178   40   35   50  55  25    java  205  Fail
4번    송지효   런닝맨고  168   40   60   70  75  80     NaN  325  Fail
5번     하하   런닝맨고  171   15   20   10  35  10     NaN   90  Fail
6번    이광수   런닝맨고  190   80  100   95  85  80       c  440  Pass
8번    전소민   런닝맨고  170  100   85   90  95  95      c#  465  Pass
9번    강호동  신서유기고  182   75   55   30  45  60     c++  265  Fail
10번   이수근  신서유기고  165   70   80   70  85  80     NaN  385  Fail
11번   은지원  신서유기고  174   95   75   65  45  50     NaN  330  Fail
12번   송민호  신서유기고  180   80   30   25  10  85    java  230  Fail
13번    규현  신서유기고  170  100   80  100  85  70  python  435  Pass
14번    피오  신서유기고  179   35   45   60  50  35       c  225  Fail

In [64]:
filt = df['키']>=180
df.drop(index = df[filt].index)
#특정 데이터만 삭제

       이름     학교    키   국어  영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    유재석   런닝맨고  178   90  85  100  95  85      python  455  Pass
2번    지석진   런닝맨고  178   40  35   50  55  25        java  205  Fail
3번    김종국   런닝맨고  178   80  75   70  80  75  javascript  380  Fail
4번    송지효   런닝맨고  168   40  60   70  75  80         NaN  325  Fail
5번     하하   런닝맨고  171   15  20   10  35  10         NaN   90  Fail
7번    양세찬   런닝맨고  172   55  65   45  40  35      python  240  Fail
8번    전소민   런닝맨고  170  100  85   90  95  95          c#  465  Pass
10번   이수근  신서유기고  165   70  80   70  85  80         NaN  385  Fail
11번   은지원  신서유기고  174   95  75   65  45  50         NaN  330  Fail
13번    규현  신서유기고  170  100  80  100  85  70      python  435  Pass
14번    피오  신서유기고  179   35  45   60  50  35           c  225  Fail

In [65]:
#데이터 추가
df.loc['15번'] = ['정준하','무한도전고',185,50,50,80,80,50,'cpp',310,'Fail']
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      python  455  Pass
2번    지석진   런닝맨고  178   40   35   50  55  25        java  205  Fail
3번    김종국   런닝맨고  178   80   75   70  80  75  javascript  380  Fail
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN  325  Fail
5번     하하   런닝맨고  171   15   20   10  35  10         NaN   90  Fail
6번    이광수   런닝맨고  190   80  100   95  85  80           c  440  Pass
7번    양세찬   런닝맨고  172   55   65   45  40  35      python  240  Fail
8번    전소민   런닝맨고  170  100   85   90  95  95          c#  465  Pass
9번    강호동  신서유기고  182   75   55   30  45  60         c++  265  Fail
10번   이수근  신서유기고  165   70   80   70  85  80         NaN  385  Fail
11번   은지원  신서유기고  174   95   75   65  45  50         NaN  330  Fail
12번   송민호  신서유기고  180   80   30   25  10  85        java  230  Fail
13번    규현  신서유기고  170  100   80  100  85  70      python  435  Pass
14번    피오  신서유기고  179   35   45   60  50  35           c  225  Fail
15번   정준하  무한도전고  185   50   50   80  80  50         cpp  310  Fail

In [66]:
df.loc['5번','수학'] = 100
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      python  455  Pass
2번    지석진   런닝맨고  178   40   35   50  55  25        java  205  Fail
3번    김종국   런닝맨고  178   80   75   70  80  75  javascript  380  Fail
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN  325  Fail
5번     하하   런닝맨고  171   15   20  100  35  10         NaN   90  Fail
6번    이광수   런닝맨고  190   80  100   95  85  80           c  440  Pass
7번    양세찬   런닝맨고  172   55   65   45  40  35      python  240  Fail
8번    전소민   런닝맨고  170  100   85   90  95  95          c#  465  Pass
9번    강호동  신서유기고  182   75   55   30  45  60         c++  265  Fail
10번   이수근  신서유기고  165   70   80   70  85  80         NaN  385  Fail
11번   은지원  신서유기고  174   95   75   65  45  50         NaN  330  Fail
12번   송민호  신서유기고  180   80   30   25  10  85        java  230  Fail
13번    규현  신서유기고  170  100   80  100  85  70      python  435  Pass
14번    피오  신서유기고  179   35   45   60  50  35           c  225  Fail
15번   정준하  무한도전고  185   50   50   80  80  50         cpp  310  Fail

In [68]:
df.loc['5번',['학교','키']] = ['무한도전고','175']
df

       이름     학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    유재석   런닝맨고  178   90   85  100  95  85      python  455  Pass
2번    지석진   런닝맨고  178   40   35   50  55  25        java  205  Fail
3번    김종국   런닝맨고  178   80   75   70  80  75  javascript  380  Fail
4번    송지효   런닝맨고  168   40   60   70  75  80         NaN  325  Fail
5번     하하  무한도전고  175   15   20  100  35  10         NaN   90  Fail
6번    이광수   런닝맨고  190   80  100   95  85  80           c  440  Pass
7번    양세찬   런닝맨고  172   55   65   45  40  35      python  240  Fail
8번    전소민   런닝맨고  170  100   85   90  95  95          c#  465  Pass
9번    강호동  신서유기고  182   75   55   30  45  60         c++  265  Fail
10번   이수근  신서유기고  165   70   80   70  85  80         NaN  385  Fail
11번   은지원  신서유기고  174   95   75   65  45  50         NaN  330  Fail
12번   송민호  신서유기고  180   80   30   25  10  85        java  230  Fail
13번    규현  신서유기고  170  100   80  100  85  70      python  435  Pass
14번    피오  신서유기고  179   35   45   60  50  35           c  225  Fail
15번   정준하  무한도전고  185   50   50   80  80  50         cpp  310  Fail

In [69]:
#column의 순서를 바꾸기
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과'], dtype='object')

In [76]:
cols = list(df.columns)
df = df[[cols[-1]]+cols[:-1]]
df

       총합    결과   이름     학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    455  Pass  유재석   런닝맨고  178   90   85  100  95  85      python
2번    205  Fail  지석진   런닝맨고  178   40   35   50  55  25        java
3번    380  Fail  김종국   런닝맨고  178   80   75   70  80  75  javascript
4번    325  Fail  송지효   런닝맨고  168   40   60   70  75  80         NaN
5번     90  Fail   하하  무한도전고  175   15   20  100  35  10         NaN
6번    440  Pass  이광수   런닝맨고  190   80  100   95  85  80           c
7번    240  Fail  양세찬   런닝맨고  172   55   65   45  40  35      python
8번    465  Pass  전소민   런닝맨고  170  100   85   90  95  95          c#
9번    265  Fail  강호동  신서유기고  182   75   55   30  45  60         c++
10번   385  Fail  이수근  신서유기고  165   70   80   70  85  80         NaN
11번   330  Fail  은지원  신서유기고  174   95   75   65  45  50         NaN
12번   230  Fail  송민호  신서유기고  180   80   30   25  10  85        java
13번   435  Pass   규현  신서유기고  170  100   80  100  85  70      python
14번   225  Fail   피오  신서유기고  179   35   45   60  50  35           c
15번   310  Fail  정준하  무한도전고  185   50   50   80  80  50         cpp

In [84]:
#column의 이름 변경
df = df[['결과','이름','학교']]
df.columns = ['Result','Name','School']

KeyError: "None of [Index(['결과', '이름', '학교'], dtype='object')] are in the [columns]"

In [85]:
df

     Result Name School
지원번호
1번     Pass  유재석   런닝맨고
2번     Fail  지석진   런닝맨고
3번     Fail  김종국   런닝맨고
4번     Fail  송지효   런닝맨고
5번     Fail   하하  무한도전고
6번     Pass  이광수   런닝맨고
7번     Fail  양세찬   런닝맨고
8번     Pass  전소민   런닝맨고
9번     Fail  강호동  신서유기고
10번    Fail  이수근  신서유기고
11번    Fail  은지원  신서유기고
12번    Fail  송민호  신서유기고
13번    Pass   규현  신서유기고
14번    Fail   피오  신서유기고
15번    Fail  정준하  무한도전고